
html, body { 
  height: 100px;
  background-color: rgb(209, 226, 15);
} 

header img{
  height: 100px;
  width: 100%;
}
header { 
background-color: #04AA6D;
top: 0;
left: 0;
right: 0;
height: 100px;
display:flex;
align-items: center;
}

header * {
  display: inline;
}

section-1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

section-2 {
text-align:left;
font-family: 'Times New Roman', Times, serif;
font-weight: lighter;
}

section-3 {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
figure {
 text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border-color: blue;
  border-style: groove;
  border-width: 20px;
}

contact-information {
  color: rgb(231, 37, 7);
  font-family: Verdana;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border:#015f3f;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #026407;
}

/* Add a background color and some padding around the form */
container {
  border-radius: 25px;
  background-color: #f2f2f29c;
  padding: 35px;
}

contact-form {
color:rgb(11, 117, 239); 
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
font-weight: bolder;
text-align: center;
}


footer {
  background-color: blue;
  color: #ff0000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}
