
body { 
  height: 100px;
  background-color: crimson;
} 

header {
 text-align: center;
 background: #011d03;
 color: #ff0000;
 font-family: 'Times New Roman', Times, serif ;
 width:100%;
 height: 60px;;
 font-size: 50px;
}

figure {
  width: 100%px;
  background-color: #f0ead6;
}

section-img> {
  border-style: groove;
  border-color: blue
} 
/* TODO: Label selector type */
highlighted-text {
  font-weight: bolder;
}

contact-section {
  background-color: #f0ead6;
}